= simple_form_for product, html: {class: "form-horizontal"} do |f|
  = f.input :title, label: t(".title")
  = f.input :content, label: t(".content")
  = f.submit t(".save"), class: "btn btn-w-m btn-primary"